@media screen and (max-width: 1920px) {
    .aviso-manutencao h1 {
        margin: 0;
    }

    footer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .conteudo-principal-apresentacao {
        flex-direction: column;
    }

    .card-perfil {
        width: auto;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    body {
        height: auto;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .hamburguer {
        display: visible;
    }

    .menu-nav {
        display: none;
    }

    .menu-nav-logo {
        margin: 0 0 30px 0;
    }

    .menu-nav-item {
        padding: 8px;
    }

    main {
        margin: 30px auto;
    }

    section {
        padding: 0;
        margin: 0 auto;
        width: auto;
    }

    .card-perfil {
        width: auto;
        height: auto;
    }

    .card-perfil h1 {
        font-size: 25px;
        margin: 0px 0 15px;
    }

    .conteudo-principal-apresentacao {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .conteudo-principal-apresentacao-texto {
        display: flex;
        padding: 50px 0px 0;
        flex-direction: column;
        width: auto;
    }
}
