.aviso-manutencao {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------AJUSTE-------*/
.menu-nav-item {
    padding: 8px 10px 10px 10px;
}
