@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap";

@keyframes typing {
    from {
        width: 0
    }
}

#typing-animation {
    width: 100%;
    height: auto;
    text-align: inherit;
    white-space: wrap;
    overflow: hidden
}

html {
    background-color: #0d0d0d;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url(/Meu-portfolio/FOTOS-PNG/TERRA.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/Meu-portfolio/FOTOS-PNG/TERRA.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif
}

p,
a,
h1,
h2,
h3 {
    color: #deebff;
    text-align: center;
    margin: 0;
    padding: 0
}

h1 {
    font-size: 26px;
    margin: 0 0 20px
}

p {
    margin: 0 0 25px;
    color: #deebff
}

header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px 0;
    box-shadow: 0 0 3px #ddd, -2px -2px 3px #ddd
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px
}

.menu-nav-logo {
    width: 64px
}

.menu-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.menu-nav-item {
    padding: 10px
}

.menu-nav-item a {
    transition: all .3s;
    color: #deebff;
    text-decoration: none
}

.menu-nav-item a:hover {
    color: #0A9500
}

.hamburguer {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer
}

.hamburguer span {
    width: 100%;
    height: 3px;
    background-color: #fafafa;
    border-radius: 5px;
    transition: all 0.3s
}

.hamburguer.open span.top {
    transform: rotate(45deg);
}
.hamburguer.open span.mid {
    display: none;
}
.hamburguer.open span.bot {
    transform: rotate(134deg);
    position: absolute;
}

.menu-hamburguer {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #00000061;
    transition: all 1s;
}

.menu-hamburguer.open {
    padding: 20px 20px 145px;
}



.menu-hamburguer ul {
    list-style-type: none;
    padding: 0
}

.menu-hamburguer li {
    margin-bottom: 10px
}

.menu-hamburguer a {
    text-decoration: none;
    color: #deebff;
    font-size: 16px
}

main {
    width: 100%;
    height: auto
}

section {
    width: 65%;
    padding: 50px;
    margin: 0 auto
}

.aviso-manutencao {
    height: 732px;
    display: flex;
    align-items: center;
    justify-content: center
}

.conteudo-principal-apresentacao {
    height: 732px;
    display: flex;
    padding: 35px 50px
}

.conteudo-principal-apresentacao-texto {
    width: 70%;
    display: flex;
    padding: 20px 50px 0;
    flex-direction: column
}

.conteudo-principal-skills {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column
}

.conteudo-principal-skills h1 {
    margin: 0 0 32px
}

.conteudo-principal-apresentacao-texto,
.conteudo-principal-skills p {
    font-size: 18px;
    line-height: 25px;
    text-align: inherit
}

.container-habilidades {
    width: auto;
    height: auto;
    padding: 20px;
    margin-bottom: 25px
}

.container-habilidades .habilidades {
    display: flex;
    margin-bottom: 10px
}

.container-habilidades .icons {
    display: flex
}

.container-habilidades .habilidades,
.container-habilidades .icons {
    gap: 20px
}

.container-habilidades .icons .fa-brands {
    display: flex;
    width: 55px;
    height: auto;
    border: 1px solid transparent;
    justify-content: center;
    font-size: 45px
}

.django-icon {
    display: flex
}

.container-habilidades .icons .fa-solid {
    display: flex;
    width: 55px;
    height: auto;
    border: 1px solid transparent;
    justify-content: center;
    font-size: 35px
}

.container-habilidades .django-icon .fa-solid {
    width: 28px
}

.container-habilidades .icons .fa-brands.fa-html5 {
    color: #FF7D39
}

.container-habilidades .icons .fa-brands.fa-css3-alt {
    color: #0096FF
}

.container-habilidades .icons .fa-brands.fa-js {
    color: #FAFF39
}

.container-habilidades .icons .fa-brands.fa-react {
    color: #2c67e6
}

.container-habilidades .icons .fa-brands.fa-python {
    color: #2986A1
}

.container-habilidades .icons .fa-solid.fa-d {
    color: #29A15A
}

.container-habilidades .icons .fa-solid.fa-j {
    color: #29A15A
}

.container-habilidades .icons .fa-solid.fa-database {
    color: #2986A1
}

.habilidade-lvl {
    display: flex;
    width: 55px;
    height: 100px;
    background-color: transparent;
    border: 1px solid #0A9500;
    border-radius: 32px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 5px 50px -5px #030000
}

.habilidade-lvl-numero {
    position: absolute;
    z-index: 1;
    color: #000
}

.progress-bar {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-color: #5b8fff24;
    border-radius: 10px;
    overflow: hidden
}

.progress {
    height: 0;
    width: 100%;
    border-radius: 10px;
    transition: width .2s ease-in-out
}

.conteudo-principal-skills strong.html {
    color: #FF7D39
}

.conteudo-principal-skills strong.css {
    color: #39B3FF
}

.conteudo-principal-skills strong.javascript {
    color: #FAFF39
}

.conteudo-principal-skills strong.react {
    color: #0096FF
}

.conteudo-principal-skills strong.front-end {
    color: #39B3FF
}

.conteudo-principal-skills strong.python {
    color: #2986A1
}

.conteudo-principal-skills strong.django {
    color: #29A15A
}

.conteudo-principal-skills strong.back-end {
    color: #00c86f
}

.conteudo-principal-skills strong.mysql {
    color: #2986A1
}

.conteudo-principal-skills strong.data-science {
    color: #9cd33b
}

main img {
    width: 100%;
    height: auto
}

.fa-brands {
    font-size: 30px
}

.card-perfil {
    background-color: #4d97f542;
    width: 335px;
    height: auto;
    border: 3px inset #00000085;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #8184ef47
}

.card-perfil p {
    font-size: 13px;
    margin: 0 0 10px;
    color: #978d8d
}

.link-social {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    justify-content: center
}

.card-perfil a {
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #5e87b32e;
    border-radius: 50%;
    border: 3px groove #00000073;
    align-items: center;
    justify-content: center;
    transition: all .5s
}

#github:hover {
    border-color: #0A9500;
    background-color: #0d0d0d;
    color: #ddd;
    box-shadow: 0 0 20px 0 #8184efcf
}

#whatsapp:hover {
    border-color: #0A9500;
    background-color: #72c515;
    color: #fff;
    box-shadow: 0 0 20px 0 #8184efcf
}

#linkedin:hover {
    border-color: #0A9500;
    background-color: #2c67e6;
    color: #fff;
    box-shadow: 0 0 20px 0 #8184efcf
}

.card-perfil a img {
    width: 30px;
    height: 30px
}

.card-foto {
    width: 100%;
    height: auto;
    background-color: #fafafa;
    border: 1px inset #000000ad;
    border-radius: 30px;
    transition: all .6s;
    margin: 25px 0
}

.card-foto:hover {
    transform: scale(1.02);
    box-shadow: 0 0 16px 0 #029e488a
}

.conteudo-principal-contato {
    width: 50%;
    height: 732px
}

.informacoes-nome-titulo {
    width: 100%;
    text-align: center
}

.informacoes-contato {
    width: 100%;
    height: auto
}

.conteudo-principal-contato label,
a,
span {
    color: #deebff
}

.conteudo-principal-contato div {
    color: #0096FF
}

.conteudo-principal-contato .informacoes {
    background: #4d97f542;
    border: 2px inset #3e7e9dab;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 #8195ef57;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.conteudo-principal-contato container {
    display: flex;
    align-items: center;
    margin: 15px 0;
    flex-direction: column;
    align-items: flex-start
}

.conteudo-principal-contato container.links a {
    background-color: #29292a42;
    border: 2px inset #00000061;
    border-radius: 5px;
    padding: 10px;
    width: 8em;
    overflow: hidden;
    margin: 2px 0;
    transition: all .5s
}

.conteudo-principal-contato label {
    margin-bottom: 15px
}

.conteudo-principal-projetos img {
    width: inherit;
    height: 300px
}

footer {
    position: static;
    width: 100%;
    background-color: #33333308;
    text-align: center
}

.copyright-footer {
    width: auto;
    height: auto;
    display: flex;
    background: transparent;
    transition: all .5s;
    justify-content: center;
    padding: 32px
}

.copyright-footer p {
    margin: 0;
    color: #deebff
}

.copyright-footer:hover {
    background-color: #2c67e617
}

footer strong {
    color: #0A9500
}
